<%= link_to 'Back to books list', books_path %>

<h1><%= @book.title %></h1>
<h4><%= @book.author %></h4>
<p><%= @book.description %></p>
<hr>

<h2>Rate the book</h2>
  <%= render 'ratings/form' %>
<hr>

<h2>Or leave a review!</h2>
  <%= render 'errors', resource: @review %>
  <%= render 'reviews/form' %>
<hr>

<h2>See what others think!</h2>
<p>
  <strong>Overall rating: </strong>
  <%= @book.avg_rate %>
</p>

<%= render @reviews %>
